.button {
 font-family: "PT Sans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 21px;
 line-height: 26px;
 background-color:  @blue;
 color: @white;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}
