.intro {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.intro__wrapper {
  background-color: @white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 320px;
  min-height: 389px;
  background-image: url("../img/background-image.jpg");
  background-position: 50% 40%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-image@2x.jpg");
    background-size: 1200px auto;
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    min-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-image@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    min-height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-image@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

.intro__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.intro__wrapper-image:first-child {
  margin-top: 75px;
  width: 115px;
  height: 27px;

  @media (min-width: @tablet-width) {
    width: 188px;
    height: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 188px;
    height: 45px;
  }
}

.intro__wrapper-image:nth-child(2n) {
  margin-top: 13px;
  width: 106px;
  height: 17px;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 28px;
  }

  @media (min-width: @desktop-width) {
    width: 174px;
    height: 28px;
  }
}

.intro__wrapper-image:nth-child(3n) {
  margin-top: 31px;
  width: 282px;
  height: 48px;

  @media (min-width: @tablet-width) {
    width: 461px;
    height: 80px;
  }

  @media (min-width: @desktop-width) {
    width: 461px;
    height: 80px;
  }
}

.intro__wrapper-image:last-child {
  margin-top: 37px;
  width: 173px;
  height: 45px;

  @media (min-width: @tablet-width) {
    width: 282px;
    height: 75px;
  }

  @media (min-width: @desktop-width) {
    width: 282px;
    height: 75px;
  }
}

.intro__wrapper-add {
  display: flex;
  z-index: 1;
  position: absolute;
  bottom: -1px;

  @media (min-width: @tablet-width) {
    bottom: -1x;
  }

  @media (min-width: @desktop-width) {
    bottom: -1px;
  }
}
