.main-header {
  min-height: 56px;
  background-color: @white;
  color: black;
  min-width: 320;
  @media (min-width: @tablet-width) {
    width: 768px;
   }

   @media (min-width: @desktop-width) {
    width: 1200px;
   }
 }

 .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  position: relative;
 }

 .main-header__logo {
  position: absolute;
  display: none;
  left: 23%;
  z-index: 1;
  @media (min-width: @tablet-width) {
    position: absolute;
    left: 40%;
    z-index: 1;
   }

   @media (min-width: @desktop-width) {
    position: absolute;
    left: 43.5%;
    z-index: 1;
   }
 }

 .main-nav__toggle {
  width: 23px;
  height: 22px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
  background-color: @white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  @media (min-width: @tablet-width) {
    display: none;
   }

   @media (min-width: @desktop-width) {
    display: none;
   }
 }

 .main-nav__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;
  top: 81px;
  z-index: 1;
  background-color: @blue;
  @media (min-width: @tablet-width) {
    width: 768px;
    background-color: @white;
   }

   @media (min-width: @desktop-width) {
    width: 1200px;
    background-color: @white;
   }
 }

.main-nav__list {
  display: flex;
  @media (min-width: @tablet-width) {
    list-style-type: none;
   }

   @media (min-width: @desktop-width) {
    width: 1200px;
    background-color: @white;
   }
}

 .main-nav__link {
 font-family: "PT Sans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 26px;
 color: black;
 text-transform: uppercase;
 text-decoration: none;
 cursor: pointer;
 }

 .main-nav__open {
  background-color: #81B3D2;
  width: 320px;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
 }

 .main-nav__open-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
 }

 .main-nav__open-item {
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
 }

 .main-nav__open-link {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
 }

 .main-nav__open-button {
  background-color: #81B3D2;
  border: none;
  width: 23px;
  height: 23px;
  position: relative;
  left: 85px;
  cursor: pointer;
 }
