.photo-block {
 min-width: 320px;
 @media (min-width: @tablet-width) {
  width: 768px;
 }   
 
 @media (min-width: @desktop-width) {
  width: 1200px;
 } 
}

.photo-block__list {
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
 padding: 0;
 margin: 0;
 @media (min-width: @tablet-width) {
   display: grid;
   grid-template-columns: 324px 324px;
 }  

 @media (min-width: @desktop-width) {
  display: grid;
  grid-template-columns: 400px 400px 400px;
} 
}

.photo-block__item {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: start;
}

.photo-block__image {
 margin-top: 24px;
 margin-bottom: 15px;
}

.photo-block__title {
 font-family: "PT Sans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 21px;
 color: @black;
 text-transform: uppercase;
 margin-bottom: 10px;
}

.photo-block__author {
 font-family: "PT Sans", Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size: 14px;
 line-height: 21px;
 color: @gray;
 margin-bottom: 11px;
}

.photo-block__main-container {
 @media (min-width: @tablet-width) {
  display: flex;
}  

@media (min-width: @desktop-width) {
 display: flex;
} 
}

.photo-block__likes-container {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 @media (min-width: @tablet-width) {
  background-color: #f2f2f2;
}  

@media (min-width: @desktop-width) {
 background-color: rgba(0, 0, 0, 0);
} 
}

.photo-block__counter {
 width: 23px;
 height: 21px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-right: 14px;
}

.photo-block__likes {
 font-family: "PT Sans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 21px;
 color: @black;
}