.advantages {
 background-color: #ffffff;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 min-width: 320px;
}

.advantages__upper-list {
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.advantages__lower-list {
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #eeeeee;
}