.main-footer {
    min-width: 320px;
    min-height: 235px;
}

.main-footer__wrapper {
 background-color: #ffffff;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.main-footer__copyright {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 33px;
}
