.main-header {
 min-height: 56px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 background-color: #ffffff;
 color: #000000;
 font-family: "PT Sans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 21px;
}

.main-nav__toggle {
    width: 23px;
    height: 23px;
}