.main-header {
 min-height: 56px;
 background-color: #ffffff;
 color: #000000;
}

.main-nav__toggle {
 width: 23px;
 height: 23px;
}

.main-nav__wrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}

.main-nav__list {
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 ustify-content: space-between;
}

.main-nav__link {
 font-family: "PT Sans", Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size: 14px;
 line-height: 21px;
 color: #000000;
 text-transform: uppercase;
 text-decoration: none;
 cursor: pointer;
}
